<section class="gallery container">
    <div class="top-sec">
        <h3>Our Creations</h3>
        <button>See All</button>
    </div>
    <div class="imgs">
        <div class="gal-item">
            <img src="/Assets/image-curiosity.jpg" alt="">
            <h2 class="txt">
                The Curiosity
            </h2>
        </div>
        <div class="gal-item">
            <img src="/Assets/image-deep-earth.jpg" alt="">
            <h2 class="txt">
                Deep Earth
            </h2>
        </div>
        <div class="gal-item">
            <img src="/Assets/image-fisheye.jpg" alt="">
            <h2 class="txt">
               make it fisheye
            </h2>
        </div>
        <div class="gal-item">
            <img src="/Assets/image-from-above.jpg" alt="">
            <h2 class="txt">
              From up Above vr
            </h2>
        </div>
        <div class="gal-item">
            <img src="/Assets/image-grid.jpg" alt="">
            <h2 class="txt">
             the grid
            </h2>
        </div>
        <div class="gal-item">
            <img src="/Assets/image-night-arcade.jpg" alt="">
            <h2 class="txt">
                night arcade
            </h2>
        </div>
        <div class="gal-item">
            <img src="/Assets/image-pocket-borealis.jpg" alt="">
            <h2 class="txt">
                pocket borealis
            </h2>
        </div>
        <div class="gal-item">
            <img src="/Assets/image-soccer-team.jpg" alt="">
            <h2 class="txt">
                soccer team
            </h2>
        </div>
    </div>
</section>