<section class="home">
    <header class="container">
        <h3>LoopStudios</h3>
        <nav [class.display]="isClicked">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#career">Careers</a></li>
                <li><a href="#event">Events</a></li>
                <li><a href="#product">Products</a></li>
                <li><a href="#support">Support</a></li>
            </ul>
        </nav>
        <i class="bi bi-list" (click)="toggleMenu()"></i>
    </header>
    <div class="landing-txt ">
        <h2>Impressive Experience That Deliver</h2>
    </div>
</section>